@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep scroll */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / Edge */
body {
  -ms-overflow-style: none;
}

body{
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

